.heroBg {
	background: linear-gradient(180deg, #fff 0%, #f5f7f9 100%);
}
.hero {
	margin-top: 37px;
	display: flex;
	justify-content: space-between;
	&__image {
		display: flex;
		align-items: center;
		&_one {
			width: 467px;
			height: 611px;
		}
		&__two {
			margin-left: -100px;
		}
	}
	&__text {
		&_info {
			& + button {
				margin-top: 46px;
			}
			& > div {
				display: flex;
				gap: 20px;
				color: #757c82;
				font-weight: 400;
			}
			.empty {
				flex-grow: 1;
				border-bottom: 1px dotted #757c82;
			}
		}
	}
	&__title {
		max-width: 467px;
		width: 100%;
		padding-top: 90px;
		color: #30343d;
		font-family: Playfair Display;
		font-size: 33px;
		font-weight: 400;
		line-height: 146.3%;
		letter-spacing: 0.99px;
		text-transform: uppercase;
		margin-bottom: 37px;
	}
}
